body {
    background-image: url('../images/oriental.png');
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    font-size: 20px;
}


footer {
    width: 100%;
    height: 60px;
    background-color: rgb(46, 46, 46);
    position: fixed;
    bottom: 0;
    border-top: 5px solid teal;
    clear: both;
    z-index: 10;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: white;
}

div h4 {
    position: absolute;
    bottom: 20px;
    background-color: teal;
    color: white;
    height: 40px;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
}

a {
    color: lightgrey;
    font-size: 20px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    color: teal;
}

input {
    margin-bottom: 10px;
}

.container {
    box-sizing: border-box;
    width: 960px;
    margin: 120px auto;
    background-color: white;
    height: 700px;
    padding: 30px
}

.contactContainer {
    box-sizing: border-box;
    width: 960px;
    margin: 120px auto;
    background-color: white;
    height:600px;
    padding: 30px;
}


.portfolioContainer {
    box-sizing: border-box;
    width: 960px;
    margin: 120px auto;
    background-color: white;
    height: 800px;
    padding: 30px
}

.project {
    float: left;
    position: relative;
    width: 30%;
    height: 200px;
    margin-right: 3.4%;
    margin-bottom: 20px;
}

.project img {
    position: relative;
    float: left;
    width: 100%;
    height: 180px;
}

.copyright {
    text-align: center;
    width: 100%;
    font-size: 15px;
    color: white;
    padding-top: 30px;
}

#myPicture {
    width: 200px;
    float: left;
    margin: 0 15px 10px 0;
}

#headerContainer {
    height: 100%;
    width: 960px;
    margin: 0 auto;
}

#name {
    font-size: 25px;
    height: 40px;
    width: 120px;
    background-color: teal;
    text-align: center;
    color: white;
    padding: 15px;
}

#navigation {
    position: relative;
    bottom: 70px;
}

#navigation a {
    float: right;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}

#navigation a:hover {
    color: darkgrey;
}

#navigation a:active {
    color: black;
}

#navigation a:focus {
    color: darkgrey;
}

#nameInput {
    width: 100%;
    height: 25px;
}

#emailInput {
    width: 100%;
    height: 25px;
}

#messageInput {
    width: 100%;
    height: 200px;
}

#submitButton {
    position: relative;
    top: 45px;
    background-color: teal;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 16px;
    border: none;
    color: white;
}


@media screen and (max-width: 980px){
    .container, .contactContainer, .portfolioContainer {
        width: 750px;
    }

    .container {
        height: 900px;
    }

    header {
        width: 100%;
    }

    #headerContainer {
        width: 750px;
    }
}

@media screen and (max-width: 768px){
    .container, .contactContainer, .portfolioContainer {
        width: 90%;
    }

    .container {
        height: 1100px;
    }

    header {
        width: 100%;
    }

    #headerContainer {
        width: 90%;
    }
    .project {
        float: left;
        position: relative;
        width: 46%;
        height: 200px;
        /* margin-right: 3.4%; */
        margin-bottom: 20px;
    }


}

@media screen and (max-width: 640px){

    .container, .contactContainer, .portfolioContainer {
        width: 90%;
        margin-top: 160px;
    }

    .container {
        height: 1200px;
    }

    .contactContainer {
        padding: 35px;
    }

    .portfolioContainer {
        height: 1300px;
    }

    #headerContainer {
        width: 100%;
    }

    header {
        width: 100%;
        height: 140px;
        margin-bottom: 40px;
    }

    #name {
        width: 100%;
        position: static;
        top: 0;
        float: left;
        clear: both;
    }

    #navigation {
        width: 80%;
        height: 50px;
        background: white;
        position: static;
    }

    #navigation a {
        padding: 20px 20px;
    }

    .project {
        float: left;
        position: relative;
        width: 100%;
        height: 200px;
        /* margin-right: 3.4%; */
        margin-bottom: 20px;
    }
}